body{
  background-color: black;
  color: white
}

p{
  width: 600px;
  margin-left: 30px
}

.current-schedule-inputs{
  display: flex;
  flex-direction: column;
  
}
input{
  width: 100px
}

/* unvisited link */
a:link {
  color: greenyellow;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: lightcoral;
}