body{
  background-color: black;
  color: white
}

p{
  width: 600px;
  margin-left: 35px
}

.current-schedule-inputs{
  display: flex;
  flex-direction: column;
  margin-left: 50px
  
}
input{
  width: 100px
}
h1{
  color: yellowgreen;
  width: 600px
}
h2{
  color: mediumslateblue;
  margin-left: 10px;
  width: 600px
}
h3{
  color: cyan;
  margin-left: 25px;
  width: 600px
}

a{
  font-weight: bold;
}
a:link {
  color: magenta;
}

/* visited link */
a:visited {
  color: magenta;
}

/* mouse over link */
a:hover {
  color: yellowgreen;
}

/* selected link */
a:active {
  color: cyan;
}

button {
  background-color:magenta; 
margin: 25px 50px;
transition-duration: 0.2s;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight:bold;
  border-radius: 12px;
  width: 100px
}

.home-button{
  background-color: magenta;
}